<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>





<!--##########################################-->
<!--# SECTION                                #-->
<!--##########################################-->
<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="assets/images/fallout-game-flag-brotherhood-outcasts-sword-symbol-HD.jpg" alt="">
				</div>
			</div>
			<div class="col-md-6 order-1">
				<div class="p-5">
					<h2 class="display-4">Community Outreach</h2>
					<p>AMMO will be focusing on the youth, the future of America; We will have members working with young teens, teaching them life skills, as well as skilled trades in constriction, building, landscaping, plumbing and masonry work.</p>
					<p>AMMO will be offering an internship for the top teens of the program to offer a intern-ship program with verified businesses with the top teens of this program. The internship will be with verified business in the community. This will help keeping them off the street and out of trouble. </p>
					<p class="leadin">AMMO will teach the skills of a trade in the most important field in America building and construction. </p>
					<p>America has a massive shortage of qualified, legal American craftsmen. The youth of today are the entrepreneurs of tomorrow! AMMO will teach them how to create, brand & market their future business. These skills are not being taught in schools today, building and creativity have been are replaced with cultural marxism. </p>
					<p>AMMO will mentor and mold their minds of the future, setting them on the path to success.</p>
				</div>
			</div>
		</div>
	</div>
</section>






</body>
</html>
